#top{
	height: 23%;
	padding-top:1.5%;
}

#title{
	float:left;
	padding-left:10%;
	height: 70%;
	width: auto;
}

#theAngels{
	float: left;
	padding-left: 20%;
	align-content: center;
	padding-top:1%;
	
}

.angels{
	float:left;
	vertical-align: middle;
}

.angelImage{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 3px solid;
	margin: 3px;	
}

.names{
	color: white;
	text-align: center;
	font-size: 16px;
	font-family: 'Varela Round', sans-serif;
}

#rankedProjects{
	clear:both;
	width: 100%;
	height: 53%;
}

.backgroundLines{
	height: 3.9%;
	padding-left: 20.60%;
}

.theLines{
	float:left;
	width: 6.342%;
	height: 100%;
	border-left: 1px dashed lightgrey;
}

.grantAmount{
	float:left;
	font-size: 20px;
	width:9.5%;
}

.grantAmountSum{
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	font-size: 15x;
	padding-top:5.5%;
	padding-left:10%;
	vertical-align: middle;
}

.projectNames{
	color: white;
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	width: 11%;
	float: left;  
	border: 2px solid white;
	height:6.25%;
}

 .projectTytle{
	vertical-align: middle;
	font-size: 17px;
	padding: 2%;
	padding-top:2%;
}

.grantsBar{
	background-color: white;
	height: 7%;
	width: 61%;
	float: left;
	display: block;
}

.grantMark{
	height: 100%;
	width:0;
	float:left;
}

.projectSum{
	color: white;
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	float:left;
	font-size: 21px;
	padding-left:2%;
	padding-top:0.3%;
	vertical-align: middle;
}

#logos{
	padding-top: 1.9%;
	padding-left: 45%;
	width:50%;
	height: auto;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }